.oceano {
    -fx-background-color: #b3e5fc;
}

.pais-sombra {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.7), 10.0, 0.0, 8.0, 8.0);
    -fx-border-color: red;
    -fx-border-width: 10 10 10 10;
    -fx-border-radius: 10;
}

.btn-pais-pais {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

.btn-pais-jugador {
    -fx-font-size: 16;
}