.contenedor-comando {
    -fx-padding: 0 10 15 10;
}

.btn-comando {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #fafafa;
    -fx-background-color: -fx-accent;
    -fx-pref-height: 40;
}

.custom-jfx-toggle {
    -jfx-toggle-color: -fx-accent;
    -jfx-toggle-line-color: #9fa8da;
    -fx-font-size: 14;
}

.btn-pais {
    -jfx-rippler-fill: -fx-accent;
}

.btn-pais-label {
    -fx-font-size: 14;
}