.contenedor-comando {
    -fx-padding: 0 10 15 10;
}

.btn-comando {
    -fx-font-size: 16;
    -fx-font-family: Consolas;
    -fx-text-fill: #fafafa;
    -fx-background-color: #303f9f;
    -fx-pref-height: 40;
}

.custom-jfx-toggle {
    -jfx-toggle-color: #303f9f;
    -jfx-toggle-line-color: #9fa8da;
    -fx-font-size: 14;
}