@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700&display=swap');

.root {
    -fx-accent: #303f9f;
    -fx-focus-color: #303f9f;
}

.label {
    -fx-font-family: 'Roboto';
}

.dialogo-contenido {
    -fx-padding: 16 0 0 0;
}

.dialogo-titulo {
    -fx-font-weight: bold;
    -fx-font-size: 12.5;
    -fx-min-width: 100;
    -fx-pref-width: 100;
}

.dialogo-valor {
    -fx-font-weight: normal;
    -fx-font-size: 12.5;
}

.error {
    -fx-text-fill: #d32f2f;
}

.jfx-snackbar-toast {
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

.jfx-snackbar-action {
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-text-fill: #d81b60;
}